@use "../../styles/helpers/" as *;

.users {
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: rem(20);
    border: rem(1) solid var(--color-border);
    padding: rem(10) rem(30);
    border-radius: rem(15);
    box-shadow: 0px 0px 6px 0px var(--color-border);
    flex-wrap: wrap;
  }

  &__role {
    margin-right: auto;
  }

  &__buttons {
    display: flex;
    gap: rem(15);
  }

  &__edit {
    border: none;
    outline: rem(1) solid var(--color-accent);
    padding: rem(15);
    border-radius: rem(10);
  }

  &__remove {
    border: none;
    background-color: var(--color-red);
    color: var(--color-bg);
    padding: rem(15);
    border-radius: rem(10);
  }
}
