@use "./helpers/" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
  overflow-x: hidden;
}

body {
  @include fluid-text(16, 14);
  font-family: var(--ff-base);
  font-weight: var(--fw-400);
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: var(--lh-120);
}

h1,
.h1 {
  @include fluid-text(30, 26);
  font-weight: var(--fw-700);
}

h2,
.h2 {
  @include fluid-text(26, 22);
  font-weight: var(--fw-700);
}

h3,
.h3 {
  @include fluid-text(22, 18);
  font-weight: var(--fw-700);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: inherit;
  color: inherit;

  @include hover {
    transform: scale(0.9);
    transition-duration: var(--transition-duration);
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}
