@use "./helpers/" as *;

:root {
  --color-accent: #ff9800;
  --color-bg: #f5f5f5;
  --color-ebg: #f5f2f2;
  --color-border: #9e9e9e;
  --color-text: #333333;
  --color-red: #eb0f0f;

  --ff-base: "Inter";

  --fw-500: 500;
  --fw-400: 400;
  --fw-700: 700;

  --lh-120: 1.2;

  --td: 0.2s;
}
