@use "../../styles/helpers/" as *;

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* центрирование по вертикали */

  &__it {
    width: 48px;
    height: 48px;
    border: 5px solid #3498db; /* голубой цвет */
    border-top: 5px solid transparent; /* "пустой" сегмент */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
