@use "../../styles/helpers/" as *;

.footer {
  @include fluid-text(18, 16);
  font-weight: var(--fw-500);
  padding: rem(20);
  border-top: 1px solid var(--color-border);

  &__copyright {
    text-align: center;
  }
}
